*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 1000px;
    height: auto;
}

header{
    display: flex;
    flex-direction: column;
    height: 20%;
}
.subencabezado{
    display: flex;
    justify-content: space-between;
    background-color: #3da873;
    color: white;
    height: 25%;
}
.se1, .se2{
    display: flex;
}
.encabezado{
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: salmon;
}

.encabezado p, h1{
    margin: 6px;
}

.se2 a, .se1 a{
    text-decoration: none;
    color: white;
}

.se2 a:hover, .se1 a:hover{
    color: black;
}

.se1 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.se1 li, .se2 a{
    margin: 5px 15px;
}
.se1 ul:nth-child(1){
    margin-left: 40px;
}

main{
    display: flex;
    width: 100%;
    height: 70%;
}

.asid{
    width: 30%;
    background-color: whitesmoke;
}

.asid img, h2, p{
    margin: 2px 13px;
}

.asid img{
    max-width: calc(100% - 26px);
    height: auto;
}

aside:nth-child(1){
    margin-top: 35px;
}

.art1, .art2{
    border-bottom: 1px solid black;
    height: 50%;
    overflow: hidden;

}

.articulo h2, .articulo p, .articulo img{
    margin: 10px 14px;
}

.art1 h2, .art2 h2{
    margin-top: 25px;
}

.articulo img{
    width: calc(100% - 26px);
    height: auto;
}

.contenido{
    height: 100%;
    padding: 0 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 10%;
}

footer p{
    padding: 15px;
}